{{if .Params.img}}

<div class="row fixed"  >
 <div class="row">
<img class="card-img-top" style=" height:15.625rem; " src="{{.Params.img}} " />
{{else}}
<img class="card-img-top" style=" height:15.625rem; " src="https://c4.wallpaperflare.com/wallpaper/380/331/768/design-line-lollipop-material-wallpaper-preview.jpg" />

{{end}}

</div>

<div class="row ">

  <nav class="col navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand" href="{{.Site.BaseURL}}">{{.Site.Title}}</a>

      {{partial "header/menu.html" .}}

    </div>
  </nav>
</div>


